{{#with item}}
    <div class="row item">
        <div class="pull-left">
            <img src="{{url}}" alt="{{name}}"/>
        </div>
        <div class="pull-left details">
            <h3 class="name">{{name}}</h3>
            <p>{{producer}}</p>
            <p>{{stars}} estrellas / {{price}}</p>
        </div>
    </div>
{{/with}}